<div
  class="grid mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8 space-y-10 md:space-y-0 my-10 grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-8"
>
  <div class="h-32 rounded-lg bg-gray-100">
    <img
      src="https://shopdunk.com/images/uploaded/BONUSt7.png"
      class="w-full"
      alt=""
    />
  </div>
  <div class="h-32 rounded-lg bg-gray-100">
    <img
      src="https://shopdunk.com/images/uploaded/Bonus%20banner-26.png"
      class="w-full"
      alt=""
    />
  </div>
  <div class="h-32 rounded-lg bg-gray-100">
    <img
      src="https://shopdunk.com/images/uploaded/Bonus%20banner-16.png"
      class="w-full"
      alt=""
    />
  </div>
</div>
