<div class="relative h-[350px] w-full">
  <div class="container">
    <div #slide>
      <div
        class="item"
        style="background-image: url('./assets/book1.png')"
      ></div>
      <div class="item" style="background-image: url('./assets/book2.jpg')">
        <div
          class="content absolute top-[50%] w-[200px] py-2 px-3 text-sm font-semibold rounded-md shadow-lg shadow-indigo-500/40 focus:outline-none text-left p-0 text-[#eee] left-[100px] md:left-[200px] -translate-x-1/2 -translate-y-1/2 hidden"
        >
          <div class="name">LUNDEV</div>
          <div class="des">
            Tinh ru anh di chay pho, chua kip chay pho thi anhchay mat tieu
          </div>
          <button
            class="forwards showcontent ease-in-out mt-3 inline-block bg-black px-5 py-3 text-xs font-medium uppercase tracking-wide text-white"
          >
            See more
          </button>
        </div>
      </div>
      <div class="item" style="background-image: url('./assets/book3.jpg')">
        <div
          class="content content absolute top-[50%] w-[100px] text-left p-0 text-[#eee] left-[100px] -translate-x-1/2 -translate-y-1/2 hidden"
        >
          <div class="name">LUNDEV</div>
          <div class="des">
            Tinh ru anh di chay pho, chua kip chay pho thi anhchay mat tieu
          </div>
          <button
            class="forwards showcontent ease-in-out mt-3 inline-block bg-black px-5 py-3 text-xs font-medium uppercase tracking-wide text-white"
          >
            See more
          </button>
        </div>
      </div>
      <div class="item" style="background-image: url('./assets/book2.jpg')">
        <div
          class="content absolute top-[50%] w-[200px] py-2 px-3 text-sm font-semibold rounded-md shadow-lg shadow-indigo-500/40 focus:outline-none text-left p-0 text-[#eee] left-[100px] md:left-[200px] -translate-x-1/2 -translate-y-1/2 hidden"
        >
          <div class="name">LUNDEV</div>
          <div class="des">
            Tinh ru anh di chay pho, chua kip chay pho thi anhchay mat tieu
          </div>
          <button
            class="forwards showcontent ease-in-out mt-3 inline-block bg-black px-5 py-3 text-xs font-medium uppercase tracking-wide text-white"
          >
            See more
          </button>
        </div>
      </div>
      <div class="item" style="background-image: url('./assets/book2.jpg')">
        <div
          class="content absolute top-[50%] w-[200px] py-2 px-3 text-sm font-semibold rounded-md shadow-lg shadow-indigo-500/40 focus:outline-none text-left p-0 text-[#eee] left-[100px] md:left-[200px] -translate-x-1/2 -translate-y-1/2 hidden"
        >
          <div class="name">LUNDEV</div>
          <div class="des">
            Tinh ru anh di chay pho, chua kip chay pho thi anhchay mat tieu
          </div>
          <button
            class="forwards showcontent ease-in-out mt-3 inline-block bg-black px-5 py-3 text-xs font-medium uppercase tracking-wide text-white"
          >
            See more
          </button>
        </div>
      </div>
      <div class="item" style="background-image: url('./assets/book2.jpg')">
        <div
          class="content absolute top-[50%] w-[200px] py-2 px-3 text-sm font-semibold rounded-md shadow-lg shadow-indigo-500/40 focus:outline-none text-left p-0 text-[#eee] left-[100px] md:left-[200px] -translate-x-1/2 -translate-y-1/2 hidden"
        >
          <div class="name">LUNDEV</div>
          <div class="des">
            Tinh ru anh di chay pho, chua kip chay pho thi anhchay mat tieu
          </div>
          <button
            class="forwards showcontent ease-in-out mt-3 inline-block bg-black px-5 py-3 text-xs font-medium uppercase tracking-wide text-white"
          >
            See more
          </button>
        </div>
      </div>
      <div class="item" style="background-image: url('./assets/book2.jpg')">
        <div
          class="content absolute top-[50%] w-[200px] py-2 px-3 text-sm font-semibold rounded-md shadow-lg shadow-indigo-500/40 focus:outline-none text-left p-0 text-[#eee] left-[100px] md:left-[200px] -translate-x-1/2 -translate-y-1/2 hidden"
        >
          <div class="name">LUNDEV</div>
          <div class="des">
            Tinh ru anh di chay pho, chua kip chay pho thi anhchay mat tieu
          </div>
          <button
            class="forwards showcontent ease-in-out mt-3 inline-block bg-black px-5 py-3 text-xs font-medium uppercase tracking-wide text-white"
          >
            See more
          </button>
        </div>
      </div>
      <div class="item" style="background-image: url('./assets/book2.jpg')">
        <div
          class="content absolute top-[50%] w-[200px] py-2 px-3 text-sm font-semibold rounded-md shadow-lg shadow-indigo-500/40 focus:outline-none text-left p-0 text-[#eee] left-[100px] md:left-[200px] -translate-x-1/2 -translate-y-1/2 hidden"
        >
          <div class="name">LUNDEV</div>
          <div class="des">
            Tinh ru anh di chay pho, chua kip chay pho thi anhchay mat tieu
          </div>
          <button
            class="forwards showcontent ease-in-out mt-3 inline-block bg-black px-5 py-3 text-xs font-medium uppercase tracking-wide text-white"
          >
            See more
          </button>
        </div>
      </div>
      <div class="item" style="background-image: url('./assets/book.jpg')">
        <div
          class="content content absolute top-[50%] w-[100px] text-left p-0 text-[#eee] left-[100px] -translate-x-1/2 -translate-y-1/2 hidden"
        >
          <div class="name">LUNDEV</div>
          <div class="des">
            Tinh ru anh di chay pho, chua kip chay pho thi anhchay mat tieu
          </div>
          <button>See more</button>
        </div>
      </div>
      <div class="item" style="background-image: url(5jpg)">
        <div
          class="content content absolute top-[50%] w-[100px] text-left p-0 text-[#eee] left-[100px] -translate-x-1/2 -translate-y-1/2 hidden"
        >
          <div class="name">LUNDEV</div>
          <div class="des">
            Tinh ru anh di chay pho, chua kip chay pho thi anhchay mat tieu
          </div>
          <button>See more</button>
        </div>
      </div>
      <div class="item" style="background-image: url(6jpg)">
        <div
          class="content content absolute top-[50%] w-[100px] text-left p-0 text-[#eee] left-[100px] -translate-x-1/2 -translate-y-1/2 hidden"
        >
          <div class="name">LUNDEV</div>
          <div class="des">
            Tinh ru anh di chay pho, chua kip chay pho thi anhchay mat tieu
          </div>
          <button
            class="mt-3 inline-block bg-black px-5 py-3 text-xs font-medium uppercase tracking-wide text-white"
          >
            See more
          </button>
        </div>
      </div>
    </div>
    <div
      class="z-[22222] flex bottom-24 justify-end absolute items-center h-[50px] w-[100%] b-[30px] top-1/2 md:top-1/2 md:b-0"
    >
      <div class="flex md:w-[50%] md:mr-[120px] px-10 justify-between w-[80%]">
        <button
          #next
          aria-label="Previous slide"
          id="keen-slider-previous"
          class="rounded-full border border-black p-3 text-black transition hover:bg-black hover:text-white"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-5 w-5 rtl:rotate-180"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15.75 19.5L8.25 12l7.5-7.5"
            />
          </svg>
        </button>
        <button
          #prev
          aria-label="Next slide"
          id="keen-slider-next"
          class="rounded-full border border-black p-3 text-black transition hover:bg-black hover:text-white"
        >
          <svg
            class="h-5 w-5 rtl:rotate-180"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M9 5l7 7-7 7"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
