<div
  [routerLink]="'/books-detail/' + data._id"
  class="item showcontent font-mono mx-10 md:mx-0 rounded-xl pb-5 space-y-2 hover:scale-105 hover:transition hover:duration-700 hover:ease-in-out px-5 shadow-sm hover:shadow-[#4f46e5]"
>
  <div class="bg-[#F5F5F5] rounded-lg">
    <img
      srcset="{{ data.images[0].large_url }} "
      class="w-[50%] h-[50%] rounded-lg mx-auto py-10"
      alt=""
    />
  </div>
  <h3 class="text-base font-semibold h-[50px] py-1">{{ data.name }}</h3>
  <span>{{ data?.cate }}</span>
  <p class="text-[12px] text-gray-700">
    {{ data.short_description | limitWords : 20 }}
  </p>
  <span class="font-semibold text-base">{{ data.authors }}</span>
  <div class="flex justify-between items-center">
    <div
      class="add-to-cart bg-[#4f46e5] rounded-xl py-2 px-3 flex space-x-2 items-center justify-between"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="white"
        class="w-4 h-4"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"
        />
      </svg>

      <span class="text-[12px] font-semibold text-white">Thêm </span>
    </div>
    <div class="price space-x-2">
      <span>{{ data.price | currencyFormat }}</span>
      <span
        ><s class="text-gray-300">{{
          data.original_price | currencyFormat
        }}</s></span
      >
    </div>
  </div>
</div>
