<form>
  <div class="flex">
    <nz-demo-dropdown-event />
    <div class="relative w-full">
      <input
        type="search"
        id="search-dropdown"
        class="block p-2.5 w-full focus:ring-white z-20 text-sm text-indigo-600 bg-white rounded-e-lg border-s-2 border focus:outline-gray-300 focus:border-white border-gray-300"
        placeholder="Search Mockups, Logos, Design Templates..."
        required
      />
      <button
        type="submit"
        class="absolute top-0 end-0 p-2.5 h-full py-2 px-3 bg-white text-indigo-600 text-sm font-semibold rounded-md border-s-2 border border-gray-300 shadow-lg focus:outline-none"
      >
        <svg
          class="w-4 h-4"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 20 20"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
          />
        </svg>
        <span class="sr-only">Search</span>
      </button>
    </div>
  </div>
</form>
